*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio and IDE files
.idea/
.idea/tasks.xml
.idea/gradle.xml
.idea/shelf/
.idea/vcs.xml
.idea/appInsightsSettings.xml
.idea/deploymentTargetSelector.xml
.idea/migrations.xml
.idea/runConfigurations.xml
.idea/androidTestResultsUserPreferences.xml
.idea/AndroidProjectSystem.xml
/Captures/
*.apk
*.ap_
*.dex
*.class
/bin/
/gen/
/out/